:root {
  --main-color: #212121;
  --second-color: #757575;
  --third-color: #2196f3;
  --fourth-color: #ffffff;
  --fifth-color: #f5f4fa;
  --sixth-color: #000000;
  --seventh-color: #2f303a;
  --eighth-color: #188ce8;
  --border-header: #eeeeee;
  --icon-color: #afb1b8;
  --main-font-family: "Roboto", sans-serif;
  --main-font-weight: 500;
  --transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: var(--main-font-family);
  color: var(--main-color);
  background-color: var(--fourth-color);
  font-size: 14px;
  letter-spacing: 0.02em;
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo__general {
  color: var(--third-color);
}

.logo__header {
  color: var(--sixth-color);
}

.logo__footer {
  color: var(--fourth-color);
  display: inline-block;
  margin-bottom: 20px;
}

.page-navigation__logo {
  margin-right: 93px;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.17;
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.page-navigation,
.nav-list,
.contacts-list {
  display: flex;
  align-items: center;
}

.list,
.nav-list {
  accent-color: var(--third-color);
  list-style: none;
}

.contacts {
  text-decoration: none;
  font-weight: var(--main-font-weight);
  line-height: 1.14;
}
.contacts:hover, .contacts:focus {
  color: var(--third-color);
}

.contacts-list__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-list__mail {
  display: flex;
  align-items: center;
  fill: currentColor;
  color: var(--second-color);
}
.contacts-list .contacts-list__mail:hover, .contacts-list .contacts-list__mail:focus {
  color: var(--third-color);
}
.contacts-list .contacts-list__mail {
  transition: color var(--transition-duration);
}

.button {
  cursor: pointer;
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--fourth-color);
  letter-spacing: 0.06em;
  background-color: var(--third-color);
  width: 216px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition-duration);
}
.button:hover, .button:focus {
  background-color: var(--eighth-color);
}

.backdrop {
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-duration), visibility var(--transition-duration);
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.modal {
  position: relative;
  padding: 40px;
  background-color: var(--fourth-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 480px) {
  .modal {
    padding: 8vw;
    overflow-y: scroll;
  }
}
@media screen and (max-width: 767px) {
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.close-btn {
  fill: var(--sixth-color);
  transition: fill var(--transition-duration);
}
.close-btn:hover, .close-btn:focus {
  fill: var(--third-color);
}

.modal-form-check-line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.feedback {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (max-width: 479px) {
  .feedback {
    font-size: calc(2vw + 9px);
  }
}
@media screen and (min-width: 480px) {
  .feedback {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .feedback {
    line-height: 1.15;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  cursor: pointer;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
  transition: border-color var(--transition-duration);
  outline: none;
  outline: none;
}
.modal-form-input:focus {
  border-color: var(--third-color);
}

.modal-form-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-color);
  margin-bottom: 4px;
  display: block;
}

.modal-form-line {
  margin-bottom: 10px;
}

.privacy-agree {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.conditions-agreement {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-color);
  text-decoration: underline;
}

.modal-wrapper {
  position: relative;
  display: block;
}

.icon-modal-list {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--main-color);
  transition: fill var(--transition-duration);
}
.modal-form-input:focus + .icon-modal-list {
  fill: var(--third-color);
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color var(--transition-duration);
  outline: none;
  display: block;
}
.modal-form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-comment:focus {
  border-color: var(--third-color);
}

.modal-comment {
  margin-bottom: 20px;
}

.icon-checkbox {
  cursor: pointer;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  margin-right: 8.38px;
}
.modal-form-check:checked + .icon-checkbox {
  border-color: var(--third-color);
  background-color: var(--third-color);
}

.icon-checkbox-modal {
  display: none;
}
.modal-form-check:checked + .icon-checkbox .icon-checkbox-modal {
  display: block;
  fill: var(--fourth-color);
}

.modal-form-check {
  appearance: none;
  position: absolute;
}

.modal-form-submit {
  background-color: var(--third-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  height: 50px;
  width: 200px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  align-self: center;
  transition: background-color var(--transition-duration);
}
.modal-form-submit:hover, .modal-form-submit:focus {
  background-color: var(--eighth-color);
}

@media screen and (max-width: 768px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    background-color: var(--fourth-color);
    transition: transform var(--transition-duration), visibility var(--transition-duration);
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-menu.is-open {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
  }
  .mobile-menu__container {
    display: flex;
    height: 100vh;
    position: relative;
    padding: 48px 40px;
    overflow: scroll;
    flex-direction: column;
  }
  .mobile-menu__close-btn {
    position: absolute;
    border: 0;
    padding: 0;
    top: 10px;
    right: 15px;
    background-color: transparent;
    line-height: 0;
    cursor: pointer;
  }
  .mobile-menu__close-icon {
    transition: fill var(----transition-duration);
  }
  .mobile-menu__close-icon:hover, .mobile-menu__close-icon:focus {
    fill: var(--third-color);
  }
  .mobile-menu-navigation__link {
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-color);
    transition: color var(----transition-duration);
  }
  .mobile-menu-navigation__link:hover, .mobile-menu-navigation__link:focus {
    color: var(--third-color);
  }
  .mobile-menu-navigation__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu-navigation__link.current {
    color: var(--third-color);
  }
  .mobile-menu-contact {
    margin-top: auto;
  }
  .mobile-menu-contact__tel {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--third-color);
    text-decoration: none;
    margin-bottom: 32px;
    margin-top: auto;
    transition: color var(----transition-duration);
  }
  .mobile-menu-contact__mail {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin-bottom: 32px;
    color: var(--second-color);
    transition: color var(--transition-duration);
  }
  .mobile-menu-contact__mail:hover, .mobile-menu-contact__mail:focus {
    color: var(--third-color);
  }
  .mobile-menu-social-media {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .mobile-menu-social-media__item:not(:last-child)::after {
    content: "";
    height: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    margin-left: 10px;
    margin-right: 10px;
  }
  .mobile-menu-social-media__link {
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.22px;
    font-size: 18px;
    color: var(--third-color);
    transition: color var(--transition-duration);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu-social-media__link {
    font-size: 18px;
  }
}
@media screen and (max-width: 479px) {
  .mobile-menu-social-media__link {
    font-size: 4vw;
  }
  .mobile-menu-contact__tel,
.mobile-menu-contact__mail {
    font-size: 5vw;
  }
  .mobile-menu-navigation__link {
    font-size: 8vw;
  }
}
.page-header {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .contacts-list {
    display: none;
  }
  .open-mobile-menu-btn {
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    line-height: 0;
  }
  .open-mobile-menu-btn__icon {
    transition: fill var(--transition-duration);
  }
  .open-mobile-menu-btn:hover .open-mobile-menu-btn__icon, .open-mobile-menu-btn:focus .open-mobile-menu-btn__icon {
    fill: var(--third-color);
  }
  .page-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .page-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .open-mobile-menu-btn {
    display: none;
  }
  .page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page-navigation {
    display: flex;
    align-items: center;
  }
  .logo__general {
    color: var(--third-color);
  }
  .nav-list {
    display: flex;
    align-items: center;
  }
  .nav-list__item:not(:last-child) {
    margin-right: 54px;
  }
  .nav-list__link {
    display: block;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    transition: color var(--transition-duration);
    font-weight: var(--main-font-weight);
  }
  .nav-list__link:hover, .nav-list__link:focus {
    color: var(--third-color);
  }
  .nav-list__link.current {
    color: var(--third-color);
    position: relative;
  }
  .nav-list__link.current::after {
    position: absolute;
    display: block;
    content: "";
    border-radius: 2px;
    background-color: var(--third-color);
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
  }
  .contacts-list {
    display: block;
    margin-left: 0;
  }
}
.contacts-list__connect {
  display: flex;
  align-items: center;
  color: var(--second-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-duration);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__connect {
    line-height: 1.17;
    font-size: 12px;
  }
}
.contacts-list__connect:hover, .contacts-list__connect:focus {
  color: var(--third-color);
  fill: var(--third-color);
}
.contacts-list__connect .contacts-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__item:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
    flex-direction: row;
    row-gap: 0;
    column-gap: 30px;
    margin-left: auto;
  }
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
}
.hero {
  height: 400px;
  text-align: center;
  padding: 118px 0;
  background-color: var(--seventh-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile.jpg);
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop@2x.jpg);
  }
}
.hero__title {
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--fourth-color);
  margin-bottom: 30px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .benefits-list {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.benefits-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: var(--fifth-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits-list__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

.benefits-list__text {
  line-height: 1.71;
  color: var(--second-color);
  letter-spacing: 0.03em;
}

.business {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .business {
    display: none;
  }
}

.business-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.section-title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.business-list__bg {
  position: relative;
}

.business-list__about {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fourth-color);
}

.team {
  background-color: var(--fifth-color);
}

.team-card__list {
  background-color: var(--fourth-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-card__list {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-card__list {
    width: calc((100% - 90px) / 4);
  }
}

.team__member {
  font-weight: var(--main-font-weight);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 30px;
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-color);
  margin-top: 10px;
  margin-bottom: 16px;
}

.team-card {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 30px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .social-list {
    padding-bottom: 30px;
  }
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: var(--fourth-color);
  transition: background-color var(--transition-duration);
  /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25); */
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--third-color);
}

.social-list__icon {
  fill: var(--icon-color);
  transition: fill var(--transition-duration);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: var(--fourth-color);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-list__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid;
  border-color: var(--icon-color);
  border-radius: 4px;
  transition: border-color var(--transition-duration);
}
.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--third-color);
}

.clients-list__logo {
  color: var(--icon-color);
  fill: currentColor;
  transition: fill var(--transition-duration);
}
.clients-list__link:hover .clients-list__logo, .clients-list__link:focus .clients-list__logo {
  fill: var(--third-color);
}

.button-item__list {
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-weight: var(--main-font-weight);
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--fifth-color);
  border-radius: 4px;
  padding: 6px 22px;
  transition: color var(--transition-duration), background-color var(--transition-duration), box-shadow var(--transition-duration);
}
.button-item__list:hover, .button-item__list:focus, .button-item__list.active {
  color: var(--fourth-color);
  background-color: var(--third-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}

.button-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .button-item {
    flex-wrap: wrap;
    row-gap: 15px;
    justify-content: start;
    max-width: 350px;
  }
}
@media screen and (min-width: 768px) {
  .button-item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .button-item {
    margin-bottom: 50px;
  }
}

.portfolio-card {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .portfolio-card {
    flex-direction: column;
  }
}

.portfolio-card__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .portfolio-card__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-card__item {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio-card__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid var(--border-header);
  transition: box-shadow var(--transition-duration);
}
.portfolio-card__link:hover, .portfolio-card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card__title {
  color: var(--main-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-card__about {
  padding: 20px 24px;
  border: 1px solid var(--border-header);
  border-top: none;
  flex-grow: 1;
}

.portfolio-card__text {
  color: var(--second-color);
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-card__wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-card__overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--fourth-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 77px 24px 0;
  overflow: auto;
  transition: transform var(--transition-duration);
}
@media screen and (min-width: 768px) {
  .portfolio-card__overlay {
    padding: 63px 24px 0;
  }
}
.portfolio-card__link:hover .portfolio-card__overlay, .portfolio-card__link:focus .portfolio-card__overlay {
  transform: translateY(-100%);
}

.footer {
  background-color: var(--seventh-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-join {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media screen and (max-width: 1199px) {
  .footer-join {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-join {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-join {
    justify-content: space-between;
  }
}

.address-list {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
  font-style: normal;
  line-height: 1.71;
}

.address-list__map {
  color: var(--fourth-color);
  text-decoration: none;
  transition: color var(--transition-duration);
}
.address-list__map:hover, .address-list__map:focus {
  color: var(--third-color);
}

.join-us__title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fourth-color);
  margin-bottom: 20px;
}

.join-us__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0;
}

.join-us__item {
  width: 44px;
  height: 44px;
}

.join-us_social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-duration);
}
.join-us_social:hover, .join-us_social:focus {
  background-color: var(--third-color);
}
.join-us_social:hover .join-us_icon, .join-us_social:focus .join-us_icon {
  fill: var(--fourth-color);
}

.subscribe-form__title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--fourth-color);
}

.subscribe-form__mail {
  margin-top: 20px;
  width: 100%;
  padding: 15px 16px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25px;
  color: var(--fourth-color);
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.subscribe-form__mail:focus {
  outline: none;
  border-color: var(--third-color);
}
.subscribe-form__mail::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .subscribe-form__mail {
    width: 358px;
  }
}

.address-list__contacts {
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: var(--transition-duration);
}
.address-list__contacts:hover, .address-list__contacts:focus {
  color: var(--third-color);
}

.join-us_icon {
  fill: var(--fourth-color);
  transition: fill var(--transition-duration);
}

.button__subscribe {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  background-color: var(--third-color);
  width: 200px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: color var(--transition-duration), background-color var(--transition-duration);
}
@media screen and (min-width: 1200px) {
  .button__subscribe {
    margin-left: 12px;
    margin-top: 0;
  }
}
.button__subscribe:hover, .button__subscribe:focus {
  background-color: var(--eighth-color);
}

.icon-send {
  margin-left: auto;
  fill: var(--fourth-color);
  transition: fill var --transition-duration;
}/*# sourceMappingURL=main.css.map */