.benefits-list__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.benefits-list__text {
    line-height: 1.71;
    color: var(--second-color);
    letter-spacing: 0.03em;
}

.benefits-list {
    display: flex;
    gap: 30px;
}

.benefits-list__item {
    width: 270px;
}

.benefits-list__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: var(--fifth-color);
    border-radius: 4px;
    margin-bottom: 30px;
}