.benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
   

    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
}


.benefits-list__item {
    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 4);
    }
}

.benefits-list__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: var(--fifth-color);
    border-radius: 4px;
    margin-bottom: 30px;
}

.benefits-list__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.benefits-list__text {
    line-height: 1.71;
    color: var(--second-color);
    letter-spacing: 0.03em;
}





// .benefits-list__item:not(:last-child) {
//     width: 270px;
//     margin-bottom: 30px;
// }

// @media screen and (min-width: 768px){
//     .benefits-list__item {
//         width: calc((100% - 30px) / 2);
//     }
//     .benefits-list {
//         display: flex;
//         flex-wrap: wrap;
//         gap: 30px;
//     }
// }

// @media screen and (min-width: 1200px) {
//     .benefits-list__item {
//         width: calc((100% - 90px) / 4);
//     }
// }