.footer {
    background-color: var(--seventh-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.address-list {
    margin-bottom: 9px;
}

.address-list__map {
    text-decoration: none;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--fourth-color);
}

.address-list__contacts {
    text-decoration: none;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: var(--transition-duration);

     &:hover,
     &:focus {
        color: var(--third-color);}
}

.title-join {
    line-height: 1.14;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--fourth-color);
    margin-bottom: 20px;
}

.join {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}


.join-us_list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.join-us_icon {
    fill: var(--fourth-color);
    transition: fill var(--transition-duration);
}

.join-us_social {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-duration);
    
     &:hover,
     &:focus {
    background-color: var(--third-color);
}
     &:hover .join-us_icon,
     &:focus .join-us_icon {
     fill: var(--fourth-color);
}
}


.join-us {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--fourth-color);
    margin-bottom: 20px;
}

.subcribe-form {
    display: flex;
    align-items: center;
}

.form-mail {
    width: 358px;
    height: 50px;
    color: var(--fourth-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--seventh-color);
    padding-left: 16px;
    outline: none;
    
     &::placeholder {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.25;
     letter-spacing: 0.03em;
     color: rgba(255, 255, 255, 0.6);
}
}

.icon-send {
    fill: var(--fourth-color);
    margin-left: 10px;
}

.button__subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    width: 200px;
}