.footer {
    background-color: var(--seventh-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-join {
    display: flex;
    flex-direction: column;
    gap: 60px;

    @media screen and (max-width: 1199px) {
        text-align: center;
    }
    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-around;
    }
    @media screen and (min-width: 1200px) {
        justify-content: space-between;
    }
}

.address-list {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    font-style: normal;
    line-height: 1.71;
}

.address-list__map {
    color: var(--fourth-color);
    text-decoration: none;
    transition: color var(--transition-duration);
 &:hover,
 &:focus {
    color: var(--third-color);
}
}

.join-us__title {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--fourth-color);
    margin-bottom: 20px;
}

.join-us__list {
    display: flex;
    justify-content: center;
    // align-items: center;
    gap: 10px;
    margin: 0;
}

.join-us__item {
 width: 44px;
 height: 44px;
}

.join-us_social{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 44px;
 height: 44px;
 border-radius: 50%;
 background-color: rgba(255, 255, 255, 0.1);
 transition: background-color var(--transition-duration);
 
 &:hover,
 &:focus {
    background-color: var(--third-color);
}
 &:hover .join-us_icon,
 &:focus .join-us_icon {
    fill: var(--fourth-color);
}

}

.subscribe-form__title {
 font-weight: 700;
 text-transform: uppercase;
 color: var(--fourth-color);
}

.subscribe-form__mail {
margin-top: 20px;
    width: 100%;
    padding: 15px 16px;
    background-color: transparent;
    font-size: 16px;
    line-height: 1.25px;
    color: var(--fourth-color);
    letter-spacing: 0.03em;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    &:focus {
        outline: none;
        border-color: var(--third-color);
    }

    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }

    @media screen and (min-width: 1200px) {
        width: 358px;
    }
}

.address-list__contacts {
    text-decoration: none;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: var(--transition-duration);

     &:hover,
     &:focus {
        color: var(--third-color);}
}

// .title-join {
//     line-height: 1.14;
//     font-size: 16px;
//     text-transform: uppercase;
//     letter-spacing: 0.03em;
//     color: var(--fourth-color);
//     margin-bottom: 20px;
// }

// .join {
//     display: flex;
//     align-items: baseline;
//     justify-content: space-between;
// }




.join-us_icon {
    fill: var(--fourth-color);
    transition: fill var(--transition-duration);
}

// .join-us_social {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 44px;
//     width: 44px;
//     border-radius: 50%;
//     background-color: rgba(255, 255, 255, 0.1);
//     transition: background-color var(--transition-duration);
    
//      &:hover,
//      &:focus {
//     background-color: var(--third-color);
// }
//      &:hover .join-us_icon,
//      &:focus .join-us_icon {
//      fill: var(--fourth-color);
// }
// }




// .subcribe-form {
//     display: flex;
//     align-items: center;
// }

// .form-mail {
//     width: 358px;
//     height: 50px;
//     color: var(--fourth-color);
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//     border-radius: 4px;
//     background-color: var(--seventh-color);
//     padding-left: 16px;
//     outline: none;
    
//      &::placeholder {
//      font-weight: 400;
//      font-size: 16px;
//      line-height: 1.25;
//      letter-spacing: 0.03em;
//      color: rgba(255, 255, 255, 0.6);
// }
// }

// .icon-send {
//     fill: var(--fourth-color);
//     margin-left: 10px;
// }

.button__subscribe {
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;

    background-color: var(--third-color);
        width: 200px;
    
        @media screen and (min-width: 1200px) {
            margin-left: 12px;
            margin-top: 0;
        }
    
        padding: 10px 28px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: #ffffff;
    
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        transition: color var(--transition-duration),
        background-color var(--transition-duration);
    
        &:hover,
        &:focus {
            background-color: var(--eighth-color);
        }
}

.icon-send {
    margin-left: auto;
    fill: var(--fourth-color);
    transition: fill var (--transition-duration);
}