.clients-list {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
    gap: 30px;
}

.clients-list__item {
    width: calc((100% - 30px) / 2);

    @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 3);
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 150px) / 6);
    }
}
.clients-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid;
    border-color: var(--icon-color);
    border-radius: 4px;
    transition: border-color var(--transition-duration);

    &:hover,
    &:focus {
        border-color: var(--third-color);}
}



.clients-list__logo {
    color: var(--icon-color);
    fill: currentColor;
    transition: fill var(--transition-duration);
        
    .clients-list__link:hover &,
    .clients-list__link:focus & {
        fill: var(--third-color);}
}

