.page-navigation,
.nav-list,
.contacts-list {
    display: flex;
    align-items: center;
}


.list,
.nav-list {
    accent-color: var(--third-color);
    list-style: none;
}


.contacts {
    text-decoration: none;
    font-weight: var(--main-font-weight);
    line-height: 1.14;

    &:hover,
    &:focus {
        color: var(--third-color);
    }
}

.contacts-list__icon {
    fill: currentColor;
    margin-right: 10px;
}

.contacts-list__mail {
    display: flex;
    align-items: center;
    fill: currentColor;
    color: var(--second-color);

    .contacts-list &:hover,
    .contacts-list &:focus {
        color: var(--third-color);
    }

    .contacts-list & {
        transition: color var(--transition-duration);
    }
}