:root {
    --main-color: #212121;
    --second-color: #757575;
    --third-color: #2196f3;
    --fourth-color: #ffffff;
    --fifth-color: #f5f4fa;
    --sixth-color: #000000;
    --seventh-color: #2f303a;
    --eighth-color: #188ce8;
    --border-header: #eeeeee;
    --icon-color: #afb1b8;
    --main-font-family: "Roboto", sans-serif;
    --main-font-weight: 500;
    --transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

//   $icon-color: #afb1b8;